<div class="welcome">
  <%=image_tag("hero.jpg", alt: "Welcome")%>
  <div class="button">
    <span>
    <%= link_to "List of Products", products_list_path %>
  </span>
  </div>
<h1><span>
  Your Furniture is Old.
</span></h1>
<h2><span>
  Ours is older.
</span></h2>

</div>
